
    <footer class="site-footer" style="background-image: url(/images/big_image_3.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3>Một chút về cúng tôi</h3>
                    <p>Skwela được tối ưu hóa cho việc học tập, kiểm tra và đào tạo. Các ví dụ có thể được đơn giản hóa để cải thiện việc đọc và hiểu cơ bản. Hướng dẫn, tài liệu tham khảo và ví dụ liên tục được xem xét để tránh lỗi, nhưng chúng tôi không thể đảm bảo tính chính xác của tất cả nội dung.</p>
                </div>
                <div class="col-md-3 offset-md-3 ml-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">Công ty</a></li>
                                <li><a href="#">Giảng viên</a></li>
                                <li><a href="#">Khóa học</a></li>
                                <li><a href="#">Thể loại</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>