
<section class="school-features d-flex" style="background-image: url(/images/big_image_3.jpg);">

    <div class="inner">
        <div class="media d-block feature">
            <div class="icon"><span class="flaticon-video-call"></span></div>
            <div class="media-body">
                <h3 class="mt-0">Đào tạo trực tuyến từ các chuyên gia</h3>
                <p>Là một trong những mô hình điển hình như thế. Việc học không chỉ bó hẹp cho học sinh, sinh viên ở các trường mà dành cho tất cả mọi người!</p>
            </div>
        </div>

        <div class="media d-block feature">
            <div class="icon"><span class="flaticon-student"></span></div>
            <div class="media-body">
                <h3 class="mt-0">Học ở mọi nơi trên thế giới</h3>
                <p> Được lựa chọn cho các khóa học thích thú , ở mọi nơi trong thời gian rảnh,sự học hỏi vốn không có giới hạn.</p>
            </div>
        </div>

        <div class="media d-block feature">
            <div class="icon"><span class="flaticon-video-player-1"></span></div>
            <div class="media-body">
                <h3 class="mt-0">Video học tập sáng tạo</h3>
                <p>Video hướng dẫn, các khóa học online đang dần trở thành những nguồn tài nguyên hữu ích cho developer chúng ta, những người cần liên tục cải thiện, làm mới kiến thức.</p>
            </div>
        </div>


        <div class="media d-block feature">
            <div class="icon"><span class="flaticon-audiobook"></span></div>
            <div class="media-body">
                <h3 class="mt-0">Học âm thanh</h3>
                <p>Với giáo trình vừa bằng tiếng Việt và cả tiếng Anh việc nghe hiểu không còn vấn đề quá lớn.</p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->


<section class="site-section">
    <div class="container">
        <section class="school-features text-dark d-flex">

            <div class="inner">
                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-video-call"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Đào tạo trực tuyến từ các chuyên gia</h3>
                        <p>Là một trong những mô hình điển hình như thế. Việc học không chỉ bó hẹp cho học sinh, sinh viên ở các trường mà dành cho tất cả mọi người!</p>
                    </div>
                </div>

                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-student"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Học ở mọi nơi trên thế giới</h3>
                        <p> Được lựa chọn cho các khóa học thích thú , ở mọi nơi trong thời gian rảnh,sự học hỏi vốn không có giới hạn.</p>
                    </div>
                </div>

                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-video-player-1"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Video học tập sáng tạo</h3>
                        <p>Video hướng dẫn, các khóa học online đang dần trở thành những nguồn tài nguyên hữu ích cho developer chúng ta, những người cần liên tục cải thiện, làm mới kiến thức.</p>
                    </div>
                </div>


                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-audiobook"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Học âm thanh</h3>
                        <p>Với giáo trình vừa bằng tiếng Việt và cả tiếng Anh việc nghe hiểu không còn vấn đề quá lớn.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="school-features text-dark last d-flex">

            <div class="inner">
                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-video-call"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Đào tạo trực tuyến từ các chuyên gia</h3>
                        <p>Là một trong những mô hình điển hình như thế. Việc học không chỉ bó hẹp cho học sinh, sinh viên ở các trường mà dành cho tất cả mọi người!</p>
                    </div>
                </div>

                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-student"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Học ở mọi nơi trên thế giới</h3>
                        <p> Được lựa chọn cho các khóa học thích thú , ở mọi nơi trong thời gian rảnh,sự học hỏi vốn không có giới hạn.</p>
                    </div>
                </div>

                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-video-player-1"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Video học tập sáng tạo</h3>
                        <p>Video hướng dẫn, các khóa học online đang dần trở thành những nguồn tài nguyên hữu ích cho developer chúng ta, những người cần liên tục cải thiện, làm mới kiến thức.</p>
                    </div>
                </div>


                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-audiobook"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Học âm thanh</h3>
                        <p>Với giáo trình vừa bằng tiếng Việt và cả tiếng Anh việc nghe hiểu không còn vấn đề quá lớn.</p>
                    </div>
                </div>
            </div>
        </section>


    </div>
</section>
<!-- END section -->