<section class="section-cover bg-dark">
    <div class="container">
        <div class="row justify-content-center align-items-center intro">
            <div class="col-md-7 text-center element-animate">
                <h2>Sign Up And Get a 7-day Free Trial</h2>
                <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quidem tempore expedita facere facilis, dolores!</p>
                <p><a href="@Url.Action("Register", "Accounts")" class="btn btn-primary">Sign up and get a 7-day free trial</a></p>
            </div>
        </div>
    </div>
</section>
