<section class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h2>Gặp gỡ giảng viên của bạn</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
            </div>
        </div>
        <section class="school-features text-dark d-flex">

            <div class="inner">
                <div class="media d-block feature text-center">
                    <img src="~/images/images (2.jpg" id="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Rhea Smith</h3>
                        <p class="instructor-meta">WordPress Expert</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
                    </div>
                </div>

                <div class="media d-block feature text-center">
                    <img src="/images/person_2.jpg" id ="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Gregg White</h3>
                        <p class="instructor-meta">HTML4, CSS3 Expert</p>
                        <p>Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.</p>
                    </div>
                </div>

                <div class="media d-block feature text-center">
                    <img src="/images/person_3.jpg" id ="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Rob Gold</h3>
                        <p class="instructor-meta">JS Expert</p>
                        <p>Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.</p>
                    </div>
                </div>


                <div class="media d-block feature text-center">
                    <img src="/images/person_4.jpg"id ="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Wennie Poe</h3>
                        <p class="instructor-meta">Angular JS Expert</p>
                        <p>Harum, adipisci, aspernatur. Vero repudiandae quos ab debitis, fugiat culpa obcaecati, voluptatibus ad distinctio cum soluta fugit sed animi eaque?</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="school-features text-dark last d-flex">

            <div class="inner">
                <div class="media d-block feature text-center">
                    <img src="/images/person_1.jpg" id ="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Rhea Smith</h3>
                        <p class="instructor-meta">WordPress Expert</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
                    </div>
                </div>

                <div class="media d-block feature text-center">
                    <img src="/images/person_2.jpg" id ="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Gregg White</h3>
                        <p class="instructor-meta">Photoshop Expert</p>
                        <p>Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.</p>
                    </div>
                </div>

                <div class="media d-block feature text-center">
                    <img src="/images/person_3.jpg" id ="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Rob Gold</h3>
                        <p class="instructor-meta">Web Design Expert</p>
                        <p>Delectus fuga voluptatum minus amet, mollitia distinctio assumenda voluptate quas repellat eius quisquam odio. Aliquam, laudantium, optio? Error velit, alias.</p>
                    </div>
                </div>


                <div class="media d-block feature text-center">
                    <img src="/images/person_4.jpg" id ="imageTeacherId" alt="Image placeholder" class="mb-3">
                    <div class="media-body">
                        <h3 class="mt-0">Wennie Poe</h3>
                        <p class="instructor-meta">React JS Expert</p>
                        <p>Harum, adipisci, aspernatur. Vero repudiandae quos ab debitis, fugiat culpa obcaecati, voluptatibus ad distinctio cum soluta fugit sed animi eaque?</p>
                    </div>
                </div>
            </div>


        </section>


    </div>
</section>
